@import "tailwindcss";
.redHover {
    @apply
    text-[#c2093b]
    transition-colors
    duration-800
    ease-in-out
    rounded;
}
.redHover:hover {
    @apply
    text-white
    bg-[#c2093b];
}
.redHover:active {
    @apply
    text-white
    bg-[#c2093b];
}

.whiteHeaderHover {
    @apply
    text-white
    transition-colors
    duration-800
    py-[5px] px-[10px]
    ease-in-out
    rounded;
}
.whiteHeaderHover:hover {
    @apply
    text-[#c2093b]
    bg-white;
}
.whiteHeaderHover:active {
    @apply
    text-[#c2093b]
    bg-white;
}
  
.openStyle {
    @apply
    bg-green-600
    text-white
    px-2 py-2
    rounded
    inline-block;
}

.closeStyle {
    @apply
    bg-red-600
    text-white
    px-2 py-2
    rounded
    inline-block;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/dienstag.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'MyCustomFont', sans-serif;
}