@import "tailwindcss";
.redHover {
    @apply 
    text-[#c2093b]
    hover:text-white 
    hover:bg-[#c2093b]
    active:text-white 
    active:bg-[#c2093b]
    transition-colors
    duration-700
    ease-in-out
    rounded;
}

.whiteHeaderHover {
    @apply 
    text-white
    hover:text-[#c2093b]
    hover:bg-white
    active:text-[#c2093b]
    active:bg-white
    transition-colors
    duration-700
    py-[5px] px-[10px]
    ease-in-out
    rounded;
}
  
.openStyle {
    @apply
    bg-green-600
    text-white
    px-2 py-2
    rounded
    inline-block;
}

.closeStyle {
    @apply
    bg-red-600
    text-white
    px-2 py-2
    rounded
    inline-block;
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./assets/dienstag.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.custom-font {
    font-family: 'MyCustomFont', sans-serif;
}